# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/
env/

# Django
*.log
db.sqlite3
media/

# Environment variables
.env
.env.*

# ML / data artifacts
*.pkl
*.joblib
data/raw/
data/processed/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db